body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #cdd6f4;
  background: #1e1e2e; 
  font-family: cursor, monospace;
  overflow-x: hidden;
  }
  ::selection {
    color: #5f26ba;
    background-color: #396f54;
  }
  ::-moz-selection {
    color: #5f26ba;
    background-color: #396f54;
  }
  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: #396f54;
    background-color: #396f54;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: #aa80ee;
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    color: #f5c2e7;
    content: "root@visitor:~$";
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #f38ba8;
}

.color2 {
    color: #f5a97f;
}

.command {
    color: #cdd6f4;
    text-shadow: 0 0 5px #8a8fa3;
}

.error {
    color: #f38ba8;
}

.white {
    color: #e0def4;
}

.inherit,
a {
    color: #d6acff; 
}
  a {
    text-decoration: inherit;
  }
  a:hover {
    background: #404646;
    color: #bf9df5;
  }
  a:focus {
    outline: 0;
  }