:root {
  --bg: #282828;
  --bg-dark: #1d2021;
  --bg-light: #3c3836;

  --fg: #ebdbb2;
  --fg-muted: #d5c4a1;

  --red: #cc241d;
  --red-light: #fb4934;
  --green: #98971a;
  --green-light: #b8bb26;
  --yellow: #d79921;
  --yellow-light: #fabd2f;
  --blue: #458588;
  --blue-light: #83a598;
  --purple: #b16286;
  --purple-light: #d3869b;
  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --orange: #d65d0e;
  --orange-light: #fe8019;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: var(--fg);
  background: var(--bg);
  font-family: cursor, monospace;
  overflow-x: hidden;
}

::selection {
  color: var(--bg);
  background-color: var(--yellow-light);
}

::-moz-selection {
  color: var(--bg);
  background-color: var(--yellow-light);
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 12px;
  color: var(--yellow-light);
  background-color: var(--yellow-light);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: var(--green-light);
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: var(--fg);
  content: "root@visitor:~$";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Cursor End */

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: var(--green-light);
}

.color2 {
  color: var(--aqua-light);
}

.command {
  color: var(--yellow);
  text-shadow: none; /* Gruvbox prefers flat colors */
}

.error {
  color: var(--red-light);
}

.white {
  color: var(--fg);
}

.inherit,
a {
  color: var(--blue-light);
}

a {
  text-decoration: none;
}

a:hover {
  background: var(--bg-light);
  color: var(--yellow-light);
}

a:focus {
  outline: 0;
}